.app-container {
  font-family: Arial, sans-serif;
  padding: 2rem;
  margin: 10px;
  text-align: center;
}

label {
  font-weight: bold;
  width: 120px;
  text-align: left;
}

input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.error {
  color: red;
  font-weight: bold;
}